@tailwind base;
@tailwind components;



*{
        /* outline: 1px solid pink; */
}

.current-page:before{
    float:left;
    content: "★";
    display: inline;
    line-height: 1;
    font-size: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
    /* color: #ef0d3c; */
    color: #f1a32f;
    transform-origin: center center;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite, spin 4s ease infinite;
}



@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}


@-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

.block2 img{
    width: 100%;
	max-width: 160px;
}

.block2 button {
    cursor: pointer;
    outline: 0;
    width: 180px;
    height: 48px;
    border-radius: 8px;
    background-color: #2C3138;
    margin-top: 40px;
    overflow: hidden;
            transform: scale(.7);
}

.block2 button::after {
    content: "";
    position: relative;
    top: -40px;
    display: block;
    width: 48px;
    height: 107%;
    background-color: #000;
    margin-top: -1px;
    margin-left: -7px;
    border-radius: 6px 0 0 6px;
    /* background-image: url('2.png'); */
    background-repeat: no-repeat;
    background-position: center;
}

.block2 button::before {
    content: "";
    display: block;
    width: 48px;
    height: 46px;
    margin-left: -7px;
    margin-top: -1px;
    transition: all 200ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
}

.box-1:hover button::before {
    width: 120%;
    opacity: .8;
    background-color: #00BF9C;
}

.box-2:hover button::before {
    width: 120%;
    opacity: .8;
    background-color: #653EE6;
}

.box-3:hover button::before {
    width: 120%;
    opacity: .8;
    background-color: #008BFF;
}

.box-4:hover button::before {
    width: 120%;
    opacity: .8;
    background-color: #FF6500;
}


.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all .3s ease-out;
    will-change: transform;
    transform: rotateX(23deg) rotateZ(-9deg) rotateY(15deg) scale3d(1, 1, -0.9);
}

/* The original size of the box */
.box:hover .cover {
    transform: translateY(-14px) scale(1.04);
   

}

.box-1 button {
    border: 1px solid #00BF9C;
    color: #fff;
    font-size: 22px;
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
}

.box-1 button::after {
    content: "";
    background-color: #00BF9C;
    top: -85px
}

.box-2 button {
    border: 1px solid #653EE6;
    color: #fff;
    font-size: 22px;
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
}

.box-2 button::after {
    content: "";
    background-color: #653EE6;
    top: -85px
}

.box-3 button {
    border: 1px solid #008BFF;
    color: #fff;
    font-size: 22px;
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
}

.box-3 button::after {
    content: "";
    background-color: #008BFF;
    top: -85px
}

.box-4 button {
    border: 1px solid #FF6500;
    color: #fff;
    font-size: 22px;
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
}

.box-4 button::after {
    content: "";
    background-color: #FF6500;
    top: -85px
}

.cover {
    transition: all 400ms ease-in-out;
    will-change: transform;
}

.cover img {
    transition: all 260ms ease-in-out;
}

/* When the animation comes back */
.box .cover::after {
    content: "";
    z-index: 3;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 160px 214px;
    /* filter: blur(24px); */
    transition: all 260ms ease-in-out;
    will-change: transform;
    transform: scale(.6);
}

/* The actual hover animation */
.box:hover .cover::after {
    opacity: 1;
    transform: scale(1.5);
   
}

.box-1 .cover{
    height: 375px;
    width: 250px;
    background-image: url('../img/box1.png');
}

/* The background image itself on hover. */
.box-1 .cover::after {
    height: 700px;
    background-image: url('../img/box1b.png');
}

.box-2 .cover{
	height: 375px;
    width: 250px;
    background-image: url('../img/box2.png');
}


.box-2 .cover::after {
	height: 700px;
    background-image: url('../img/box2c.png');
}

.box-3 .cover{
	height: 375px;
    width: 250px;
    background-image: url('../img/box3.png');
}


.box-3 .cover::after {
	height: 700px;
    background-image: url('../img/box3b.png');
}

.box-4 .cover{
	height: 375px;
    width: 250px;
    background-image: url('../img/box4.png');
}

.box-4 .cover::after {
	height: 700px;
    background-image: url('../img/box4b.png');
}

.box-1 button div::before {
    content: '媛媛ENFP';
    position: relative;
    top: -44px;
    left: -4px;
    color: #00BF9C;
    font-size: 21px;
    font-weight: 300;
}

.box-1:hover button div::before {
    color: #fff;
}

.box-2 button div::before {
    content: '嬌嬌ENTJ';
    position: relative;
    top: -44px;
    left: -6px;
    color: rgb(154, 123, 255);
    font-size: 21px;
    font-weight: 300;
}

.box-2:hover button div::before {
    color: #fff;
}

.box-3 button div::before {
    content: '玫玫ISFJ';
    position: relative;
    top: -44px;
    left: 3px;
    color: #008BFF;
    font-size: 21px;
    font-weight: 300;
}

.box-3:hover button div::before {
    color: #fff;
}

.box-4 button div::before {
    content: '紫紫ESFP';
    position: relative;
    top: -44px;
    left: -9px;
    color: #FF6500;
    font-size: 21px;
    font-weight: 300;
}

.box-4:hover button div::before {
    color: #fff;
}

@tailwind utilities;

.btn{@apply inline-block px-5 py-3 rounded-lg focus:outline-none focus:ring focus:ring-offset-2
uppercase tracking-wider font-semibold text-sm sm:text-base }


.btn-primary{@apply bg-indigo-500 hover:bg-indigo-400 focus:outline-none focus:ring focus:ring-offset-2  focus:ring-indigo-500 focus:ring-opacity-50 active:bg-indigo-700  text-white }

.btn-secondary{@apply bg-transparent hover:bg-royalblue-300 text-royalblue-500 hover:text-white border border-royalblue-400 hover:border-transparent }

.btn-tertiary{@apply bg-gray-300 hover:bg-gray-200 focus:outline-none focus:ring focus:ring-offset-2  focus:ring-gray-500 focus:ring-opacity-50 active:bg-gray-400 text-gray-800 }


.team-avatar{@apply object-cover w-48 h-48 rounded-full shadow };




